.paper-solicitud-a {
  display: flex;
  justify-content: space-around;
  flex-wrap: break-word;
  flex-direction: column;
  width: 30%;
  border: 2px solid rgba(0, 110, 255, 0.638);
  min-width: 460px;
  margin-top: 20px;
  height: 700px;
}
.paper-solicitud-a p {
  margin-left: 35px;
  margin-right: 40px;
}
.title-paper {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: black;
  margin-left: 30%;
  margin-right: 30%;
  padding: 5px;
  color: white;
  font-size: 20px;
  width: auto;
  height: auto;
  border-radius: 5px;
}

.paper-solicitud-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 30%;
  border: 2px solid rgba(0, 110, 255, 0.638);
  min-width: 460px;
  margin-top: 20px;
  height: 700px;
}
.paper-solicitud-b form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  width: 90%;
  height: 80%;
}

.paper-solicitud-b form .adjuntar-archivo {
  display: flex;
  width: 63%;
  align-self: center;
  border-radius: 2px;
  background-color: rgba(2, 13, 28, 0.392);
}

.paper-solicitud-c {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 30%;
  border: 2px solid rgba(0, 110, 255, 0.638);
  min-width: 460px;
  margin-top: 20px;
  height: 700px;
}
.descripcion {
  display: flex;
  overflow-y: scroll;
  align-self: center;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: rgba(112, 112, 112, 0.631);
  width: 90%;
  height: 200px;
}

.actualizar-button {
  height: 30px;
  width: 30%;
  align-self: center;
}

.container-paper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 460px;
  margin-left: 5px;
  margin-top: 20px;
  width: 99%;
  height: 100%;
}
