.paper-solicitud-a {
  display: flex;
  justify-content: space-around;
  font-size: 17px;
  flex-direction: column;
  line-height: 15px;
  width: 30%;
  margin-top: 5px;
  border: 2px solid rgba(65, 65, 65, 0.638);
  min-width: 380px;
  height: 750px;
}
.paper-solicitud-a p {
  margin-left: 35px;
  margin-right: 40px;
}
.title-paper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  color: white;
  font-size: 20px;
  width: auto;
  height: auto;
  border-radius: 5px;
}

.title-paper p {
  background-color: black;
  padding: 2px;
  min-width: 330px;
  border-radius: 5px;
  border: 1px solid;
}

.paper-solicitud-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin-top: 5px;
  border: 2px solid rgba(65, 65, 65, 0.638);
  min-width: 380px;
  height: 750px;
}
.paper-solicitud-b form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  width: 90%;
  height: 80%;
}
.paper-solicitud-b form .adjuntar-archivo {
  display: flex;
  width: 63%;
  align-self: center;
  border-radius: 2px;
  background-color: rgba(2, 13, 28, 0.392);
}

.paper-solicitud-c {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-y: scroll;
  width: 30%;
  margin-top: 5px;
  border: 2px solid rgba(65, 65, 65, 0.638);
  min-width: 380px;
  margin-bottom: 20px;
  height: 750px;
}
.descripcion {
  display: flex;
  overflow-y: scroll;
  align-self: center;
  text-align: left;
  word-wrap: break-word;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: rgba(220, 215, 215, 0.727);
  width: 90%;
  height: 150px;
  font-size: 15px;
}

.actualizar-button {
  height: 30px;
  width: 30%;
  margin-top: 5px;
  align-self: center;
}

.container-paper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-width: 380px;
  margin-top: 0px;
  width: 100%;
  height: 80%;
}

.button {
  display: flex;
  width: 95%;
  background-color: black;
  justify-content: center;
}

.button .button-guardar {
  height: 35px;
  width: 190px;
  font-size: 15px;
  color: white;
  background-color: rgb(0, 0, 0);
  border: darkgrey;
  border-radius: 2px;
}

.icon-enviar {
  display: flex;
  align-self: center;
}

#label-file{
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.939);
  border-radius: 3px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  height: 29px;
  cursor: pointer;
}

.title-file{
  display: flex;
  justify-content: center;
  margin: 0px;
  margin-bottom: 5px;
  height: 10px;
}