.container-p {
  display: flex;
  flex-wrap: wrap;
  overflow:hidden;
  justify-content: center;
  width: 100%;
  height: auto;
}
.container-a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 650px;
  width: 800px;
  min-width: 150px;
}
.container-b {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 650px;
  width: 800px;
  min-width: 150px;
}
.title-envio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  height: auto;
}
.title-envio p {
  display: flex;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 5px;
}
.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  height: auto;
  background-color: white;
}

.button .button-enviar {
  height: 35px;
  width: 190px;
  font-size: 15px;
  color: white;
  background-color: rgb(0, 0, 0);
  border: darkgrey;
  border-radius: 2px;
}

.form-control {
  margin: 10px !important;
  width: 90%;
  align-self: center;
}
.select-empty {
  margin-top: 2px;
}

.button-enviar-solicitud {
  background-color: black;
}

#container-archivos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-item-archivo{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}