header {
  display: flex;
  align-items: center;
  background: black;
  min-width: 380px;
  color: white;
  left: 0;
  top: 0;
}

header .icon-nueva-solicitud {
  color:#eecf4d;
  align-self: center;
}

header .icon-nueva-solicitud p {
  color: white;
  width: 40px;
  line-height: 115%;
  font-size: 40%;
}

.container-header-img {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.container-header-img a {
  height: 35px;
}

.container-header-img a img {
  height: 100%;
}

.header__menu ul {
  margin: 0px 0px 0px -14px;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
}

.header__menu:hover ul,
ul:hover {
  display: block;
}

.header__menu li {
  margin: 10px 0px;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.header__menu--profile img {
  margin-right: 8px;
  width: 40px;
}

.menu-item {
  color: white;
}

.circle-icon {
  display: flex;
  justify-content:center;
  margin-right: 10px;
  height: 40px;
}

.MuiIconButton-root {
  padding: 0px !important;
}

.icon {
  align-self: center;
}

.icon-notifications {
  align-self: center;
  margin: 10px !important;
}

.makeStyles-menuButton-3 {
  width: 3.5% !important;
}

#logout {
  color: black;
}

.logout-icon {
  height: 20px !important;
}

/* Estilos para las entradas en formularios */
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0, 0.748) !important;
}

.MuiFormLabel-root.Mui-focused {
  color: rgba(0, 0, 0, 0.597) !important;
}

.MuiInput-underline:after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.597) !important;
}