.container-notificaciones-padre{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title-paper-notificaciones p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 25px;
  margin-top: 20px;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  height: 30px;
  width: auto;
}

.container-notificaciones{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 450px;
  max-height: 750px;
  min-width: 370px;
  overflow-y: auto;
  width: 100%;
}

.container-sin-notificaciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 450px;
  max-height: 750px;
  min-width: 370px;
  overflow-y: auto;
  margin-top: 20px;
  width: 65%;
}

.container-notificaciones h4 {
  color: rgba(0, 0, 0, 0.809);
}

.paper-notificaciones{
  display: flex;
  margin-bottom: 20px;
  width: 65%;
  min-width: 360px;
  text-decoration: none;
  flex-direction: row;
  align-items: center;
  height: auto;
}

.paper-notificaciones:hover {
  background-color: rgba(255, 225, 1, 0.207);
}

.checkbox-notificacion {
  width: 60px;
}

.contenido{
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
}

.contenido h5{
  margin: 0px;
  line-height: 17px;
}

.contenido p{
  margin-top: 0px;
  margin-bottom: 10px;
  line-height: 15px;
}

.notificacion-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60px;
  height: 100%;
  margin: 5px;
}

.notificacion-icon img {
  width: 60px;
  height: 60px;
  border-radius: 6.5px;
  box-shadow: 2px 2px 5px rgba(72, 72, 72, 0.604);
}

.title-paper-notificaciones {
  display: flex;
  align-self: center;
  width: 60%;
  height: 60px;
  margin-bottom: 0px;
  align-items: center;
  justify-content: center;
}

.container-notificaciones-padre {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 450px;
    max-height: 750px;
    min-width: 370px;
    width: 100%;
}

.eliminar-notificacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  min-width: 370px;
  width: 100%;
}

.eliminar-notificacion svg {
  margin: 0px !important;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-left: 0px !important;
  margin-right: 50% !important;
} 

.eliminar-notificacion p {
  align-self: center;
  cursor: pointer;
  margin: 0px;
}