#typography {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

#panel1a-header {
  display: flex;
  background-color: black;
  border-radius: 2px;
  color: white;
}

#panel1a-header #flecha {
  display: flex;
  color: white;
}

.link {
  color: black;
}

.input-id {
  border-right: 1px solid rgba(128, 128, 128, 0.439);
  min-width: 150px;
  width: 300px;
}

.input-relacion {
  width: 300px;
  margin-left: 5px;
}

#filter-form {
  display: flex;
  background-color: white;
  height:40px;
  align-items: center;
  justify-content: center;
  margin: 25px;
}
.MuiTableSortLabel-root:hover, .MuiTableSortLabel-root.MuiTableSortLabel-active {
  color: white !important;
  font-weight: bold !important;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon {
  color: white !important;
  opacity: 1 !important;
}


