#typography {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

#panel1a-header {
  display: flex;
  background-color: black;
  border-radius: 2px;
  color: white;
}

#panel1a-header #flecha {
  display: flex;
  color: white;
}

.link {
  color: black;
}

.input-id {
  border-right: 1px solid rgba(128, 128, 128, 0.439);
  min-width: 150px;
  width: 300px;
}

.input-relacion {
  width: 300px;
  margin-left: 5px !important;
}

#filter-form {
  display: flex;
  background-color: white;
  height:auto;
  align-items: center;
  min-width: 360px;
  justify-content: center;
  flex-wrap: wrap;
}

.MuiTableSortLabel-root:hover, .MuiTableSortLabel-root.MuiTableSortLabel-active {
  color: white !important;
  font-weight: bold !important;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon {
  color: white !important;
  opacity: 1 !important;
}

.fila-solicitudes {
  text-align: center;
  background-color: black;
}

a {
  user-select: none;
}

.MuiTablePagination-toolbar {
  user-select: none;
}

.text-file-icon-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para cambios en categorias */
.cambios-en-categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  height: auto;
  background-color: white;
  margin: 10px;
}

.cambios-en-categorias .button-modificar-categorias {
  height: 35px;
  width: 90px;
  font-size: 50%;
  color: white;
  background-color: rgb(0, 0, 0);
  line-height: 12px;
  border: darkgrey;
  border-radius: 2px;
}

#categorias-paper .Agregar-categorias {
  display: flex;
  width: 100%;
  justify-content: center;
}

#categorias-paper .Agregar-categorias .button-Agregar-categorias {
  height: 30px;
  width: 70px;
  font-size: 50%;
  color: white;
  background-color: rgb(0, 0, 0);
  border: darkgrey;
  align-self: center;
}

#categorias-paper .Agregar-categorias .spinner-Agregar-categorias {
  height: 20px;
  color: black;
  align-self: center;
}

.categorias-existentes {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 100%;
  min-width: 350px;
  overflow-y: auto;
}

#categorias-paper h3 {
  text-align: center;
  margin: 10px;
}

.categorias-existentes p{
  margin: 5px;
}

.categoria-input {
  width: 70%;
  margin: 10px !important;
}

.categoria-container {
  display: flex; 
  flex-direction: row;
  width: 96%;
  padding-left: 5px; 
  justify-content: space-between;
}

.editar-categoria {
  display: flex; 
  justify-content: space-between;
  height: 30px;
  padding: 5px;
}

.icono-eliminar-categoria {
  margin-left: 30px;
}

.mensaje-respuesta {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media screen and (min-width: 0px) and (max-width: 500px){
  .input-relacion {
    width: 295px !important;
  }
}