.container-notificaciones-padre{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title-paper-notificaciones{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  margin-top: 20px;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  height: 30px;
  width: auto;
}

.container-notificaciones{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 450px;
  max-height: 750px;
  min-width: 370px;
  overflow-y: auto;
  margin-top: 20px;
  width: 65%;
}

.container-notificaciones h4 {
  color: rgba(0, 0, 0, 0.809);
}

.paper-notificaciones{
  display: flex;
  margin-top: 20px;
  width: 98%;
  min-width: 360px;
  text-decoration: none;
  flex-direction: row;
  align-items: center;
  height: auto;
}
.paper-notificaciones:hover {
  background-color: rgba(255, 225, 1, 0.207);
}

.contenido{
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 10px;
  line-height:17px;
}

.contenido h5{
  margin: 0px;
  margin-top: 8px;
  line-height: 5px;
}

.contenido p{
  margin-top: 12px;
  margin-bottom: 10px;
}

.notificacion-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60px;
  height: 100%;
  margin: 5px;
}

.notificacion-icon img {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(72, 72, 72, 0.604);
}